@model MayMeow.RPG.Entities.World.Race

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Race</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Strength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Strength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agility)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agility)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Constitution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Constitution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Intelligence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Intelligence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Charisma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Charisma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartingLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartingLocation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
