@model MayMeow.RPG.Entities.World.Location

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Location</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>

<div>
    <table class="table">
        <tr>
            <th>Connected locations</th>
        </tr>
        @foreach (var parentLocation in Model.ParrentLocations)
        {
            <tr>
                <td>
                    Go back to <a asp-action="MoveTo" asp-route-id="@parentLocation.Parent.Id">@parentLocation.Parent.Name</a>
                </td>
            </tr>
        }
        @foreach (var childLocation in Model.ChildLocations)
        {
            <tr>
                <td>
                    Go to <a asp-action="MoveTo" asp-route-id="@childLocation.Child.Id">@childLocation.Child.Name</a>
                </td>
            </tr>
        }
    </table>
</div>

<div>
    <table class="table">
        <tr>
            <th>Characters in location</th>
        </tr>
        @foreach (var character in Model.Characters)
        {
            <tr>
                <td>
                    Go back to <a asp-action="Details" asp-route-id="@character.Id">@character.Name</a>
                </td>
            </tr>
        }
    </table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
