@model MayMeow.RPG.Entities.World.Character

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Experience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Money)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Money)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Strength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Strength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agility)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agility)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Constitution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Constitution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Intelligence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Intelligence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Charisma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Charisma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HitPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HitPoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalHitPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalHitPoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Race)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Race.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
